
.main{
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;

}
.botao{
    border: solid 5px rgb(251, 144, 204);
    border-radius: 10px;
    color: rgb(255, 89, 227);
    background-color: white;
    width: 90px;
    height: 40px;
    font-family: DejaVu Sans Mono, monospace ;
    font-size: 120%;
}
.botao2{
    text-align: center;
}
body{
    height: 100%;
 
}

  

